{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "printWidth": 200,
    "overrides": [
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        }
    ]
}
